In [14]:
#print me a range from 1-100

In [15]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [26]:
for i in range (1,101):
    if i%3 ==0:
        print (i, "Fizz")
    elif i%5 ==0:
        print (i, "Buzz")
    elif i%3 ==0 and i%5==0:
        print (i, "FizzBuzz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 Fizz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 Fizz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 Fizz
48 Fizz
50 Buzz
51 Fizz
54 Fizz
55 Buzz
57 Fizz
60 Fizz
63 Fizz
65 Buzz
66 Fizz
69 Fizz
70 Buzz
72 Fizz
75 Fizz
78 Fizz
80 Buzz
81 Fizz
84 Fizz
85 Buzz
87 Fizz
90 Fizz
93 Fizz
95 Buzz
96 Fizz
99 Fizz
100 Buzz

In [32]:
words = ["apple", "mango", "pineapple", "grapes", "banana", "apricot", "avocado"]

In [46]:
word_count = []
word_count.append(len(i))

In [50]:
for i in words:
    word_count.append(len(i))
    print(len(i))

5
5
9
6
6
7
7

In [51]:
help (words.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [52]:
word_count

[7, 5, 5, 9, 6, 6, 7, 7]

In [66]:
numbers = [1,2,3,4,5,5,5,5,5]
fives = []
for i in numbers:
    if i==5:
        print(i)
        fives.append(i)

5
5
5
5
5

In [67]:
fives

[5, 5, 5, 5, 5]

In [100]:
alist = [1,2,3,400,400,99,400,400,5,6,7,99]

In [101]:
banana = 0
for i in alist:
    if i==400:
        banana = banana + 1

In [102]:
banana

4

In [105]:
for i in range(len(alist)):
    if alist[i] == 99:
        alist[i] = 400
alist

[1, 2, 3, 400, 400, 400, 400, 400, 5, 6, 7, 400]

In [94]:
for i in range(alist):

SyntaxError: incomplete input (3367935488.py, line 1)